h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
}
img {
  display: block;
}
.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
}
button {
  cursor: pointer;
}
body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  color: #434455;
  background: #fff;
}
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
}

/* Header */
.page-header-container {
  display: flex;

  justify-content: space-between;
}
.logotype {
  margin-right: 76px;
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.navigation {
  display: flex;
  align-items: center;

  justify-content: space-between;
}
.menu {
  display: flex;
  align-items: center;
  gap: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.studio-hover {
  position: relative;
}
.studio-hover::after {
  display: block;
  position: absolute;
  width: 100%;
  bottom: -1px;
  border-radius: 2px;

  background: #404bbf;

  height: 4px;
  content: "";
}

.menu-list {
  padding: 24px 0;
  display: block;
  color: #2e2f42;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.address {
  display: flex;
  align-items: center;
  gap: 40px;
}

.address-list {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}
.address-class {
  font-style: normal;
}

.address-list-item {
  color: #434455;

  /* Body  */

  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.class-span {
  color: #2e2f42;
}
.menu:hover,
.menu:focus {
  color: #404bbf;
}

/* < !-- our service --> */
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-out-teem {
  background: #f4f4fd;
}
.hero {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 188px;
  padding-bottom: 188px;
  background: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-hero.jpg);
}

.main-title {
  max-width: 496px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  text-align: center;

  font-size: 56px;

  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.button {
  padding: 16px 32px;

  height: 56px;
  min-width: 169px;
  margin-top: 48px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 4px;
  border: none;
  background: #4d5ae5;
  color: #ffffff;

  /* Button Text */
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}
.benefits {
  display: flex;

  gap: 24px;
}
.benefits-list {
  width: calc((100% - 72px) / 4);
}

.section-heder {
  margin-bottom: 8px;
  color: #2e2f42;

  /* Header 3 */

  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.second-section-text {
  /* Body */

  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* Our team */
.section-team {
  flex-shrink: 0;
  color: #2e2f42;
  text-align: center;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.img-employees {
  display: flex;
  gap: 24px;
}
.item-employees-list {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.employees-foto {
  margin-bottom: 8px;
  color: #2e2f42;
  text-align: center;

  /* Header 3 */
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.benefits-icon-container {
  display: flex;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background: #f4f4fd;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 8px;
  gap: 24px;
}
.employees-text {
  /* Body */
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.employees-foto-text {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 8px;
}
.employees-social-icon {
  fill: #f4f4fd;
}
/* our portfolio */
.section-portfolio {
  color: #2e2f42;
  text-align: center;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-header {
  margin-bottom: 8px;
  color: #2e2f42;

  /* Header 3 */
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.overlay-wrapper {
  position: relative;
  overflow: hidden;
}
.overlay-portfolio {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #f4f4fd;

  font-family: Roboto;
  font-size: 16px;

  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background: #4d5ae5;
  position: absolute;
  transform: translateY(100%);
  padding-top: 40px;
  padding-bottom: 164px;
  padding-left: 32px;
  padding-right: 32px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img-portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-text {
  /* Body */
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.item-our-teem-list {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-our-teem-list:hover .overlay-portfolio {
  transform: translateY(0%);
}
.item-our-teem-list:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.img-discription {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

/* footer */
.footer {
  padding-bottom: 100px;
  padding-top: 100px;
  background: #2e2f42;
}
.footer-text {
  color: #f4f4fd;
  width: 264px;
  /* Body */
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.logotype-footer {
  display: inline-block;
  margin-right: 76px;
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.class-span-footer {
  color: #f4f4fd;
}
.all-footer {
  display: flex;
  justify-content: left;
}
.footer-list {
  display: flex;
  margin-bottom: 120px;
  margin-top: 16px;
  margin-left: 120px;
  gap: 16px;
}
.footer-social-media {
  margin-left: 120px;
  color: #fff;

  font-size: 16px;

  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
.footer-img {
  background-color: #4d5ae5;
  padding: 12px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon {
  fill: #f4f4fd;
}
.employees-img:hover,
.employees-img:focus {
  background-color: #404bbf;
}

.employees-list {
  display: flex;
  gap: 24px;
  margin: 16px;
  margin-bottom: 32px;
}
.employees-icon-social-container {
  display: flex;
  justify-content: center;
}
.employees-img {
  /* fill: #f4f4fd; */
  background-color: #4d5ae5;
  padding: 12px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-img:hover,
.footer-img:focus {
  background-color: #31d0aa;
}
